* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lavender;
}

header {
    top: 0;
    border-bottom: 10px groove darkblue;
}

body {
    margin-top: 80px;
    margin-bottom: 80px;
}

h1, h3 {
    margin-left: 10px;
    float: left;
    display: inline;
    background-color: violet;
}

h5 {
    display: inline;
    text-align: right;
}

footer {
    bottom: 0px;
    border-top: 10px groove darkblue;
}

li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
    background-color: violet;
}

.bar {
    left: 0;
    position: fixed;
    display: inline;
    position: fixed;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: violet;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

figure img {
    max-width: 100%;
    height: auto;
}

.column img {
    width: 300px;
    border-radius: 50%;
    height: auto;
}

#email {
    margin-left: 41px;
}

#name {
    margin-left: 6px;
}










